.main{
	height: 1000px;
}
.padd{
	margin-bottom:  10px;
}
.project_item{
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.col-xs-6{
	padding: 1rem;
}
.col-md-6{
	padding: 1rem;
}
.col-sm-6{
	padding: 1rem;
}
.nav-item{
	padding-right: 20px;
}
.nav-link{
	font-size: 1.1em;
}
.learn_tech{
	padding: 1rem;
	margin: 0px;
}
.fa-code{
	color: #e54d26;
}
.fa-bold{
	color: #563d7c;
}
.fa-css3{
	color: #2163af;
}
.fa-python{
	color: #2163af;
}
.fa-code, .fa-bold, .fa-css3, .fa-python{
	font-size: 4em;
}
.my_serf img:hover{
	box-shadow: 10px 20px 20px 0px rgba(33, 33, 33, 0.35);
}

.fa-github, .fa-telegram, .fa-google-plus, .fa-vk{
	font-size: 2.2em;
	padding-left: 1em;
	color:#000;
}
.fa-github:hover{
	color:#fff !important;
}
.fa-telegram:hover{
	color:#fff;
} 
.fa-google-plus:hover{
	color:#fff;
}
.fa-vk:hover{
	color:#fff;
}
.over-link a{
	color: #fff !important;
	text-decoration: none !important;
}

.my_footer{
	background: #dfdfdf;
}

#topBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 10px; /* Place the button at the bottom of the page */
    left: 10px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #007bff; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    /*padding: 15px; !* Some padding *!*/
    border-radius: 30px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}
@media (min-width: 768px){
    #topBtn {
        bottom: 100px;
        left: 30px;
    }

}

#topBtn:hover {
    /*background-color: #555; !* Add a dark-grey background on hover *!*/
    box-shadow: 5px 5px 5px rgba(154, 147, 140, 0.5)
}