<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Сайт Дениса Горшкова</title>
  </head>
  <body>
	<nav class="navbar navbar-expand-md navbar-dark bg-primary sticky-top padd">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">#Python</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_menu">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbar_menu">
				<ul class="navbar-nav ml-auto my_nav">
					<li class="nav-item">
						<a class="nav-link" href="#top">Главная</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#prodg">Проекты</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#serft">Сертификаты</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#contact">Контакты</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="modal" data-target="#feedback" href="#">Обратная связь</a>
					</li>
				</ul>
				
			</div>
		</div>
	</nav>
	<div class="container">
		<h4 class="display-5 text-center">Добро Пожаловать. На мой личный сайт</h4><br>
		<p class="text-justify">Уважаемый посетитель, рад приветствовать Вас на своём личном сайте. Оснавная цель данного сайта продемострировать потенциальному работодателю свои знания и уменя в области WEB-разработки. Однако мне интересная именно back-end строна и поэтому главным приоритетом в обучении является изучение языка программирования Python. На данный момент основной своей задачей считаю самосовершенствоваться каждый день, поэтом функционал сайта и его содержимое будет расширяться со временем.</p>
		<h5 class="display-6 text-left">Еще немного о себе:</h5>
		<p class="text-justify">Закончил Ярославский Государственный Университет имени П.Г. Демидова, физический факультет, специальность радиотехника. В рамках дипломной работы был реализован программно-аппаратный комплекс для построения трехмерной карты помещения, данное устройство предназначено для навигации мобильных роботов</p><br>
	</div>
	<div class="container-fluid">
			<h4 class="display-5 text-center">Пройденые курсы</h4><br>
	</div>
	<div class="container-fluid my_serf">
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
				<a href="#Cur_HTML_CSS" name="serft" data-toggle="modal" data-target="#Cur_HTML_CSS">
					<img class="img-fluid" src="../static/img/Cur_HTML_CSS.png">
				</a>			
			</div>
			<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
				<a href="#Cur_prog_start" data-toggle="modal" data-target="#Cur_prog_start">
					<img class="img-fluid" src="../static/img/Cur_prog_start.png">
				</a>			
			</div>
			<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
				<a href="#Cur_SQL" data-toggle="modal" data-target="#Cur_SQL">
					<img class="img-fluid" src="../static/img/Cur_SQL.png">
				</a>			
			</div>
			<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
				<a href="#Cur_GIT" data-toggle="modal" data-target="#Cur_GIT">
					<img class="img-fluid" src="../static/img/Cur_GIT.png">
				</a>			
			</div>
		</div>
	</div>
	<div class="collapse my_serf" id="collapse_serft">
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
				<a href="#Cur_OOP" data-toggle="modal" data-target="#Cur_OOP">
					<img class="img-fluid" src="../static/img/Cur_OOP.png">
				</a>	
			</div>
			<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
				<a href="#Cur_Python_fast_start" data-toggle="modal" data-target="#Cur_Python_fast_start">
					<img class="img-fluid" src="../static/img/Cur_Python_fast_start.png">
				</a>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
				<a href="#Cur_Python_start" data-toggle="modal" data-target="#Cur_Python_start">
					<img class="img-fluid" src="../static/img/Cur_Python_start.png">
				</a>	
			</div>
			<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
				<a href="#Cur_Start_prog" data-toggle="modal" data-target="#Cur_Start_prog">
					<img class="img-fluid" src="../static/img/Cur_Start_prog.png">
				</a>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12">
				<h4 class="display-5 text-center">Пройденые тесты</h4>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
				<a href="#Test_HTML_CSS_midle" data-toggle="modal" data-target="#Test_HTML_CSS_midle">
					<img class="img-fluid" src="../static/img/Test_HTML_CSS_midle.png">
				</a>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
				<a href="#Test_HTML_CSS_simple" data-toggle="modal" data-target="#Test_HTML_CSS_simple">
					<img class="img-fluid" src="../static/img/Test_HTML_CSS_simple.png">
				</a>
			</div>

			<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
				<a href="#Test_prog_start" data-toggle="modal" data-target="#Test_prog_start">
					<img class="img-fluid" src="../static/img/Test_prog_start.png">
				</a>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
				<a href="#Test_Python_OOP" data-toggle="modal" data-target="#Test_Python_OOP">
					<img class="img-fluid" src="../static/img/Test_Python_OOP.png">
				</a>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
				<a href="#Test_Python_start_level1" data-toggle="modal" data-target="#Test_Python_start_level1">
					<img class="img-fluid" src="../static/img/Test_Python_start_level1.png">
				</a>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
				<a href="#Test_Pyton_start" data-toggle="modal" data-target="#Test_Pyton_start">
					<img class="img-fluid" src="../static/img/Test_Pyton_start.png">
				</a>
			</div>	
		</div>
	</div>
	<div class="container-fluid">
		<button type="button" class="btn btn-link btn-block coll_btn" data-toggle="collapse" data-target="#collapse_serft"  aria-expanded="false" aria-controls="collapse_serft">Смотреть все</button><br><br>
	</div>
	<div class="container-fluid" >
		<a href="#" name="prodg"></a>
		<h5 class="display-5 text-center" > Изучаемые технологии и языки</h5><br>
		<div class="row text-center">
			<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3" >
				<i class="fas fa-code"></i>
				<h3 >HTML5</h3>
				<p>Описание</p>			
			</div>
			<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
				<i class="fas fa-bold"></i>
				<h3>Bootsrap</h3>
				<p>Описание</p>			
			</div>
			<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
				<i class="fab fa-css3"></i>
				<h3>CSS3</h3>
				<p>Описание</p>			
			</div>
			<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
				<i class="fab fa-python"></i>
				<h3>Python</h3>
				<p>Описание</p>			
			</div>
		</div>
	</div>
	<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" id="Cur_HTML_CSS">
	  	<div class="modal-dialog modal-xl">
	    	<div class="modal-content">
	    		<img class="img-fluid" src="../static/img/Cur_HTML_CSS.png">
	    	</div>
	  	</div>
	  </div>

	<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" id="Cur_prog_start">
	  	<div class="modal-dialog modal-xl">
	    	<div class="modal-content">
	    		<img class="img-fluid" src="../static/img/Cur_prog_start.png">
	    	</div>
	  	</div>
	</div>

	<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" id="Cur_SQL">
	  	<div class="modal-dialog modal-xl">
	    	<div class="modal-content">
	    		<img class="img-fluid" src="../static/img/Cur_SQL.png">
	    	</div>
	  	</div>
	</div>

	<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" id="Cur_GIT">
	  	<div class="modal-dialog modal-xl">
	    	<div class="modal-content">
	    		<img class="img-fluid" src="../static/img/Cur_GIT.png">
	    	</div>
	  	</div>
	</div>

	<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" id="Cur_OOP">
	  	<div class="modal-dialog modal-xl">
	    	<div class="modal-content">
	    		<img class="img-fluid" src="../static/img/Cur_OOP.png">
	    	</div>
	  	</div>
	</div>

	<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" id="Cur_Python_fast_start">
	  	<div class="modal-dialog modal-xl">
	    	<div class="modal-content">
	    		<img class="img-fluid" src="../static/img/Cur_Python_fast_start.png">
	    	</div>
	  	</div>
	</div>

	<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" id="Cur_Python_start">
	  	<div class="modal-dialog modal-xl">
	    	<div class="modal-content">
	    		<img class="img-fluid" src="../static/img/Cur_Python_start.png">
	    	</div>
	  	</div>
	</div>

	<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" id="Cur_Start_prog">
	  	<div class="modal-dialog modal-xl">
	    	<div class="modal-content">
	    		<img class="img-fluid" src="../static/img/Cur_Start_prog.png">
	    	</div>
	  	</div>
	</div>

	<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" id="Test_HTML_CSS_midle">
	  	<div class="modal-dialog modal-xl">
	    	<div class="modal-content">
	    		<img class="img-fluid" src="../static/img/Test_HTML_CSS_midle.png">
	    	</div>
	  	</div>
	</div>

	<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" id="Test_HTML_CSS_simple">
	  	<div class="modal-dialog modal-xl">
	    	<div class="modal-content">
	    		<img class="img-fluid" src="../static/img/Test_HTML_CSS_simple.png">
	    	</div>
	  	</div>
	</div>

	<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" id="Test_prog_start">
	  	<div class="modal-dialog modal-xl">
	    	<div class="modal-content">
	    		<img class="img-fluid" src="../static/img/Test_prog_start.png">
	    	</div>
	  	</div>
	</div>

	<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" id="Test_Python_OOP">
	  	<div class="modal-dialog modal-xl">
	    	<div class="modal-content">
	    		<img class="img-fluid" src="../static/img/Test_Python_OOP.png">
	    	</div>
	  	</div>
	</div>

	<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" id="Test_Python_start_level1">
	  	<div class="modal-dialog modal-xl">
	    	<div class="modal-content">
	    		<img class="img-fluid" src="../static/img/Test_Python_start_level1.png">
	    	</div>
	  	</div>
	</div>


	<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" id="Test_Pyton_start">
	  	<div class="modal-dialog modal-xl">
	    	<div class="modal-content">
	    		<img class="img-fluid" src="../static/img/Test_Pyton_start.png">
	    	</div>
	  	</div>
	</div>

	<div class="modal fade" id="feedback" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
    	<div class="modal-content">
      		<div class="modal-header">
        		<h5 class="modal-title">Обратная связь</h5>
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          		<span aria-hidden="true">&times;</span>
        		</button>
      		</div>
			<form action="/mail" method="post">
			<div class="modal-body">
          		<div class="form-group">
            		<label for="email" class="col-form-label">Ваш Email адрес:</label>
            		<input type="email" class="form-control" id="email" name="email">
          		</div>
          		<div class="form-group">
            		<label for="topic" class="col-form-label">Тема сообщения:</label>
            		<input type="text" class="form-control" id="recipient-name" name="topic">
          		</div>
          		<div class="form-group">
            		<label for="message-text" class="col-form-label" >Ваше сообщение:</label>
            		<textarea class="form-control" id="message-text" name="message-text"></textarea>
          		</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
					<button type="submit" class="btn btn-primary">Отправить сообщение</button>
				</div>
      		</div>
			</form>
    	</div>
  		</div>
	</div>
	<footer>
		<div class="container-fluid bg-secondary">
			<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center">
					<br><h3 class="text-center">Контакты</h3><br>
					<a target="_blank" name="contact" href="https://github.com/Denis92"><i class="fab fa-github"></i></a>
					<a target="_blank" href="https://t.me/Denis_Gorshkov"><i class="fab fa-telegram"></i></a>
					<a target="_blank" href="https://plus.google.com/u/0/113256146961720232828?tab=mX"><i class="fab fa-google-plus"></i></a>
					<a target="_blank" href="https://vk.com/denis_0x00ff00"><i class="fab fa-vk"></i></a>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 over-link text-center">
					<br><h4>Прочие ссылки</h4><br>
					<a target="_blank" class="btn btn-dark" href="https://yaroslavl.hh.ru/resume/12696f53ff05e332dd0039ed1f7a614b563351">Head Hunter</a>
					<a target="_blank" class="btn btn-dark" href="https://geekbrains.ru/users/1523286">Geek Brains</a>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
					<br><h6 class="text-center">&copy;2019 Все права защищены</h6>
				</div>
			</div>
		</div>
	</footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>